<% if notice %>
  <div class="my-4 px-4 py-2 bg-green-500 text-white rounded">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="my-4 px-4 py-2 bg-red-500 text-white rounded">
    <%= alert %>
  </div>
<% end %>
